<script src="{{ plugin_path('Novalnet') }}/js/cc.js"></script>
<input type="hidden" id="nn_cc_holder_label_css" value="{{nnFormDesign['holder_label_css']}}" />
<input type="hidden" id="nn_cc_holder_field_css" value="{{nnFormDesign['holder_field_css']}}" />
<input type="hidden" id="nn_cc_number_label_css" value="{{nnFormDesign['number_label_css']}}" />
<input type="hidden" id="nn_cc_number_field_css" value="{{nnFormDesign['number_field_css']}}" />
<input type="hidden" id="nn_cc_date_label_css" value="{{nnFormDesign['date_label_css']}}" />
<input type="hidden" id="nn_cc_date_field_css" value="{{nnFormDesign['date_field_css']}}" />
<input type="hidden" id="nn_cc_cvc_label_css" value="{{nnFormDesign['cvc_label_css']}}" />
<input type="hidden" id="nn_cc_cvc_field_css" value="{{nnFormDesign['cvc_field_css']}}" />
<input type="hidden" id="nn_cc_standard_style_label" value="{{nnFormDesign['standard_style_label']}}" />
<input type="hidden" id="nn_cc_standard_style_input" value="{{nnFormDesign['standard_style_input']}}" />
<input type="hidden" id="nn_cc_standard_style_css" value="{{nnFormDesign['standard_style_css']}}" />
<form method="post" id="cc_form" name="cc_form" action="{{nnPaymentProcessUrl}}">
	<input type="hidden" id="nn_pan_hash" name="nn_pan_hash" />
    	<input type="hidden" id="unique_id" name="unique_id" />
	<input type="hidden" id="paymentKey" name="paymentKey" value="{{paymentMopKey}}" />
	<iframe id="nniframe" src="{{nnCcFormUrl}}" frameborder="0" onload="initIframe()" scrolling="no" width="100%"></iframe>
	<button type="button" class="btn btn-primary" id="novalnet_form_btn" onclick="getHash(this)">
		{{ trans("Novalnet::PaymentMethod.submit_button_text") }}
	</button>
	<a href="/checkout">
		<button type="button" class="btn btn-primary">
			{{ trans("Novalnet::PaymentMethod.cancel_button_text") }}
		</button>
	</a>
</form>
